<div class="container">
  <div id="disqus_thread">
    <noscript>Comments not available when JavaScript is disabled.</noscript>
  </div>
</div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | prepend: site.baseurl }}';
    this.page.identifier = '{{ page.url }}';
  };
  (function() {
    var d = document, s = d.createElement('script');
    s.src = '//jover.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
