@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);

@import "bootstrap-overrides";
@import "bootstrap";

@import "../fonts/icomoon/style.css";

#navigation {
  background: white;
  z-index: 3;

  .navbar-brand {
    font-weight: bold;
  }

  .navbar-nav {
    .nav-link {
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }

  @media only screen and (min-width: 768px) {
    background: transparent;
    border-bottom: 1px solid transparent;
    .navbar-brand {
      color: white;
      padding: $nav-link-padding;

      &:hover,
      &:focus {
        color: rgba(255, 255, 255, 0.9);
      }
    }

    .navbar-nav {
      .nav-link {
        color: white;
        padding: $nav-link-padding;

        &:hover,
        &:focus {
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }

  @media only screen and (min-width: 1170px) {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -63px;
      background-color: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid darken(white, 5%);
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;

      .navbar-brand {
        color: $gray-dark;
        &:hover,
        &:focus {
          color: $brand-primary;
        }
      }

      .navbar-nav {
        .nav-link {
          color: $gray-dark;

          &:hover,
          &:focus {
            color: $brand-primary;
          }
        }
      }
    }

    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  }
}

#page-heading {
  background: #000 url("../images/bg.jpg") no-repeat left center;
  background-size: auto 100%;
  color: white;
  padding-bottom: 3rem;
  padding-top: 6rem;
  text-align: center;

  h1, h2 {
    font-family: $font-family-sans-serif;
  }

  h1 {
    font-weight: bold;
  }

  .fa {
    margin-right: 0.75rem;
  }

  p {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  #page-heading {
    padding-bottom: 6rem;
  }
}

#page-title {
  font-size: 5rem;
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

#page-subtitle {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 1rem 0;
}

#page-title + #page-subtitle {
  position: relative;

  &:before {
    border: 2px solid white;
    border-radius: 2px;
    content: "";
    left: 40%;
    position: absolute;
    top: -2px;
    width: 20%;
  }
}

#post {
  #page-heading {
    text-align: left;
  }

  #page-title {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }

  #page-subtitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    padding: 0;
  }

  #page-title + #page-subtitle:before {
    border: none;
  }

  #post-metadata {
    margin-top: 2rem;
  }

  #post-comments-count {
    a {
      color: white;
    }
  }
}

#main {

}

.post-list {
  article.post {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 2rem;
    padding-bottom: 1rem;

    a {
      color: $body-color;

      &:hover {
        text-decoration: none;

        h2 {
          text-decoration: underline;
        }
      }
    }

    p {
      margin: 0;
    }

    .post-metadata {
      margin-bottom: 0.25rem;

      span {
        margin-right: 1rem;
      }
    }

    .excerpt {
      position: relative;

      &:before {
        background: none; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(transparent, $body-bg); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(transparent, $body-bg); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(transparent, $body-bg); /* For Firefox 3.6 to 15 */
        background: linear-gradient(transparent, $body-bg); /* Standard syntax */
        bottom: 0;
        content: "";
        height: 3rem;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 1;
      }
    }

    .fa {
      margin-right: 0.5rem;
    }
  }
}

.pager-wrapper {
  margin: 3rem 0 1rem;
}

#content {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#disqus_thread {
  border-top: 1px solid $gray-lighter;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

#footer {
  border-top: 1px solid $gray-lighter;
  padding: 65px 0;
  text-align: center;
}

#copyright {
  font-size: 0.9rem;
  margin: 0;

  a {
    color: $body-color;

    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }

  .fa {
    margin: 0 0.5rem;
  }
}

#social-links {
  font-size: 3rem;

  a {
    background-color: $gray;
    border-radius: 50%;
    color: white;
    display: block;
    height: 3.5rem;
    line-height: 3.5rem;
    vertical-align: middle;
    width: 3.5rem;

    &:focus,
    &:hover {
      background-color: $brand-primary;
      text-decoration: none;
    }

    i {
      display: block;
      font-size: 2rem;
      line-height: 3.5rem;
    }
  }
}
