@import "variables";

@font-face {
	font-family: 'font-awesome';
	src:url('fonts/font-awesome.eot?60bw92');
	src:url('fonts/font-awesome.eot?60bw92#iefix') format('embedded-opentype'),
		url('fonts/font-awesome.ttf?60bw92') format('truetype'),
		url('fonts/font-awesome.woff?60bw92') format('woff'),
		url('fonts/font-awesome.svg?60bw92#font-awesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'font-awesome' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-tag {
	&:before {
		content: $fa-tag;
	}
}
.fa-tags {
	&:before {
		content: $fa-tags;
	}
}
.fa-calendar {
	&:before {
		content: $fa-calendar;
	}
}
.fa-twitter {
	&:before {
		content: $fa-twitter;
	}
}
.fa-github {
	&:before {
		content: $fa-github;
	}
}
.fa-linkedin {
	&:before {
		content: $fa-linkedin;
	}
}
.fa-drupal {
	&:before {
		content: $fa-drupal;
	}
}

