@font-face {
	font-family: 'font-awesome';
	src:url('fonts/font-awesome.eot?xjql1p');
	src:url('fonts/font-awesome.eot?xjql1p#iefix') format('embedded-opentype'),
		url('fonts/font-awesome.ttf?xjql1p') format('truetype'),
		url('fonts/font-awesome.woff?xjql1p') format('woff'),
		url('fonts/font-awesome.svg?xjql1p#font-awesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'font-awesome' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-tag:before {
	content: "\f02b";
}
.fa-tags:before {
	content: "\f02c";
}
.fa-calendar:before {
	content: "\f073";
}
.fa-twitter:before {
	content: "\f099";
}
.fa-github:before {
	content: "\f09b";
}
.fa-feed:before {
	content: "\f09e";
}
.fa-rss:before {
	content: "\f09e";
}
.fa-linkedin:before {
	content: "\f0e1";
}
.fa-drupal:before {
	content: "\f1a9";
}

